p {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

body {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.box1 {
    background-color: rgb(187, 216, 255);
    padding: 10%;
}